:root {
    --primary: #E8EEF1; /* Azul claro para fundos */
    --secondary: #2D3742; /* Azul escuro elegante */
    --third: #546A7B; /* Azul acinzentado */
    --fourthy: #99AAB5; /* Azul pastel para detalhes */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
}

#hamburger-menu {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-content {
    display: flex;
    flex-direction: row;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.bg-body-tertiary {
    background-color: #f8f9fa;
    width: 50%;
    margin: 0 auto;
}

.shadow-3 {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.p-4 {
    padding: 1.5rem;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-block {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
}

.m-0 {
    margin: 0;
}

nav, .nav-btn{
    height: 5em;
    display: flex;
    justify-content: center; 
    align-items: center;
    column-gap: 1em;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

#hamburger-menu {
    display: none; /* oculta o botão por padrão */
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.logo {
    margin-right: 2em;
}

#perfil_img {
    width: 303px;
    height: 301px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: opacity(75%);
}

.main-content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
}

#intro {
    width: 50%;
    margin-left: 5em;
}

.card {
    background-color: var(--fourthy);
}

.main-content li {
    margin-bottom: 1em;
    list-style: none;
    font-size: 32px;
}

.btn {
    background-color: var(--third);
    color: var(--primary) !important; 
}
.btn-nav:hover {
    color: var(--third) !important; 
}

.hobbies-list, .project-list, .academico-list {
    display: flex;
    column-gap: 2.5em;
    flex-wrap: wrap;
}

.project-card, .hobbie-card, .academico-card {
    padding: 20px 10px 10px;
    text-align: center;
}

.project-card {
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 159px;
    height: 91px;
    margin: 0 auto;
}

/* .card-text {
    text-align: start;
} */

.icons {
    padding-bottom: 0;
}

.hobbie-card img {
    width: auto;
    height: 250px;
    margin: 0 auto;
}

ul.academico-list li::before {
    content: '🎓'; 
}

.hobbies-list #futebol::before {
    content: '⚽';
    margin-right: 5px;
}
.hobbies-list #atividades::before {
    content: '🦾';
    margin-right: 5px;
}
.hobbies-list #ler::before {
    content: '📖';
    margin-right: 5px;
}

.project_content h2 {
    font-size: 48px;
    margin-bottom: 1.5em;
}

.project_content a {
    color: var(--white);
}

footer {
    background-color: var(--third);
    color: var(--primary);
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

@media (max-width: 1200px) {
    .hobbies-list, .project-list, .academico-list {
        row-gap: 1em;
    }
}

@media (max-width: 790px) {
    .main-content {
        justify-content: center;
        align-items: center;
    }
    .hobbies-list, .project-list, .academico-list {
        flex-direction: column;
        row-gap: 1em;
    }
}

@media (max-width: 768px) {
    .main-content {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        row-gap: 1em;
        justify-content: center;
        align-items: center;
    }

    #intro {
        width: 100%;
        margin-left: 0;
    }

    .main-content li {
        margin-bottom: 1em;
        list-style: none;
        font-size: 22px;
    }

    .project_content h2 {
        font-size: 32px;
        margin-bottom: 1em;
    }

    #perfil_img {
        width: 262px;
        height: 260px;
        margin-top: 1em;
    }

    .hobbies-list, .project-list, .academico-list {
        flex-direction: column;
        row-gap: 1em;
    }
}

@media (max-width: 640px) {
    .logo {
        display: none;
    }
}

@media (max-width: 374px) {
    .nav-content {
        display: none;
    }

    .nav-content.active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #hamburger-menu {
        display: block;
        color: var(--fourthy);
    }

    .nav-btn {
        display: flex;
        flex-direction: column;
        flex-direction: row; 
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: center; 
        align-items: center;
        height: 3em;
    }

    #perfil_img {
        width: 262px;
        height: 260px;
        margin-top: 1em;
    }

    footer {
        background-color: var(--third);
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: .8em;
    }
}