<section class="academico_content">
    <div class="academico-list">
        <% academicos.forEach((academico) => { %>
            <div class="card academico-card" style="width: 18rem;">
                <div class="card-body">
                    <img src="<%= academico.img %>" alt="">
                    <h5 class="card-title"><%= academico.institution %></h5>
                    <h6 class="card-subtitle mb-2"><%= academico.title %></h6>
                    <p class="card-text"><%= academico.date %></p>
                </div>
            </div>
        <% }) %>
    </div>
</section>
