<img src="/img/foto_guilherme.jpg" alt="foto perfil" id="perfil_img" class="rounded">
<div id="intro">
    <h3>Olá, seja bem vindo ao meu portfólio!</h3>
    <h4>Meu nome é Guilherme, nascido no ano de 1996 em São José dos Campos - SP. Nesse portfólio você encontrará minha trilha como desenvolvedor, meus hobbies, minha vida acadêmica, projetos pessoais e profissionais.</h4>
</div>
